page-modal-payment-password{
  .content-ios{
    height: 21rem;
    top: 15%;
    border: 1px solid #eee;
    background-color: #ffffff !important;
  }
  .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
    border-color: #eaeaea;
  }
  .payment-content{
    margin-top:44px;
  }
  .item-ios{
    background-color: #ffffff;
  }
  .payment-content .label-ios{
    margin: 0;
  }
  .type{
    color: #333333;
    font-size: 1.4rem;
  }
  .amt{
    color: #222222;
    font-size: 2.4rem;
    font-weight: 600;
    margin: .6rem 0;
  }
  .amt .iconfont{ font-size: 2.4rem;}
  .illustrate ion-note{
    font-size: .9rem;
    color: color($colors, vice-text);
  }
  .payment-content ion-input input{
    position: absolute;
    top: 0;
    left: calc(50% - 110px);
    width: 220px;
    height: 40px;
    line-height: 40px;
    /*letter-spacing:23.5px;
    text-indent: 12px;*/
    letter-spacing:2.3rem;
    text-indent: 1.3rem;
    font-size: 4rem;
    margin:0;
    color: #000;
  }
  .payment-content .text-input[disabled]{
    opacity: 0;
  }
  .payment-content .iconfont{
    color: #444444;
  }
  .payment-content .border{
    position: absolute;
    top: 0;
    left: calc(50% - 110px);
    width: 220px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border:.55px solid rgba(232, 232, 232, 0.9);
  }
  .border .row ion-col{
    height: 39px;
    line-height: 39px;
    border-left:.55px solid rgba(232, 232, 232, 0.9);
  }
  .border .row ion-col:first-of-type{
    border-left:none;
  }
}
