
<ion-content>
  <ion-header>
    <ion-toolbar color="white">
      <ion-title>支付密码</ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="dark" (click)="dismiss()">
          <ion-icon name="ios-close-outline"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="payment-content" padding>
    <ion-list no-lines no-margin>
      <ion-item text-center>
        <p class="type">提现</p>
        <h2 class="amt"><ion-icon class="iconfont icon-yb-rmb"></ion-icon>300.00</h2>
        <p class="illustrate"><ion-note>扣除0.10手续费</ion-note></p>
      </ion-item>
      <ion-item margin-top [class.active]="focus === 'paymentPassword'" class="payment-password" (touch)="setFocus('paymentPassword')">
        <ion-grid class="border" item-start no-padding>
          <ion-row text-center color="dark">
            <ion-col col-2><ion-icon *ngIf="ps >= 1" class="iconfont icon-yb-heidian"></ion-icon></ion-col>
            <ion-col col-2><ion-icon *ngIf="ps >= 2" class="iconfont icon-yb-heidian"></ion-icon></ion-col>
            <ion-col col-2><ion-icon *ngIf="ps >= 3" class="iconfont icon-yb-heidian"></ion-icon></ion-col>
            <ion-col col-2><ion-icon *ngIf="ps >= 4" class="iconfont icon-yb-heidian"></ion-icon></ion-col>
            <ion-col col-2><ion-icon *ngIf="ps >= 5" class="iconfont icon-yb-heidian"></ion-icon></ion-col>
            <ion-col col-2><ion-icon *ngIf="ps >= 6" class="iconfont icon-yb-heidian"></ion-icon></ion-col>
          </ion-row>
        </ion-grid>
        <ion-input type="password" disabled [ngModel]="paymentPassword" maxlength="6"></ion-input>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-digit-keyboard
  [align]="keyboardSettings.align"
  [width]="keyboardSettings.width"
  [visible]="keyboardSettings.visible"
  [rightActionOptions]="keyboardSettings.rightActionOptions"
  [roundButtons]="keyboardSettings.roundButtons"
  [showLetters]="keyboardSettings.showLetters"
  [swipeToHide]="keyboardSettings.swipeToHide"
  [theme]="keyboardSettings.theme"
></ion-digit-keyboard>

