<ion-header>
  <ion-navbar>
    <ion-title>订单结算</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      基本信息
    </ion-list-header>
    <ion-item>
      <ion-label color="dark">车&emsp;型</ion-label>
      <ion-select [(ngModel)]="carBrandId" cancelText="取消" okText="确定">
        <ion-option *ngFor="let item of carBrandList" value="{{item.id}}">{{item.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="dark">颜&emsp;色</ion-label>
      <ion-input type="text" [(ngModel)]="orderItem.color" text-right placeholder="输入颜色"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">车架号</ion-label>
      <ion-input type="text" [(ngModel)]="orderItem.vin" text-right placeholder="输入车架号"></ion-input>
    </ion-item>
    <ion-item no-lines>
      <ion-label color="dark">折&emsp;扣</ion-label>
      <ion-select [(ngModel)]="orderItem.discount" (ionChange)="discountChange()" cancelText="取消" okText="确定">
        <ion-option value="1">无</ion-option>
        <ion-option value="0.95">9.5折</ion-option>
        <ion-option value="0.9">9折</ion-option>
        <ion-option value="0.85">8.5折</ion-option>
        <ion-option value="0.8">8折</ion-option>
        <ion-option value="0.75">7.5折</ion-option>
        <ion-option value="0.7">7折</ion-option>
        <ion-option value="0.65">6.5折</ion-option>
        <ion-option value="0.6">6折</ion-option>
        <ion-option value="0.55">5.5折</ion-option>
        <ion-option value="0.5">5折</ion-option>
        <ion-option value="0.45">4.5折</ion-option>
        <ion-option value="0.4">4折</ion-option>
        <ion-option value="0.35">3.5折</ion-option>
        <ion-option value="0.3">3折</ion-option>
        <ion-option value="0.25">2.5折</ion-option>
        <ion-option value="0.2">2折</ion-option>
        <ion-option value="0.15">1.5折</ion-option>
        <ion-option value="0.1">1折</ion-option>
        <ion-option value="0">0折</ion-option>
      </ion-select>
    </ion-item>
    <ion-list-header>
      精品装饰选购明细
    </ion-list-header>
    <ion-item *ngFor="let item of productList">
      <ion-thumbnail item-start>
        <img [src]="item.baseUrl">
      </ion-thumbnail>
      <h2 class="normal">{{item.productName}}</h2>
      <p margin-top>数量 x{{item.buyNum}}</p>
      <ion-note item-end color="oranger" class="price"><ion-icon class="iconfont icon-rmb"></ion-icon>{{item.productPrice.toFixed(2)}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-row padding-right>
    <ion-col col-12 text-right>
      精品合计：<ion-note color="oranger"><ion-icon class="iconfont icon-rmb"></ion-icon>{{orderItem.totalPrice.toFixed(2)}}</ion-note>
    </ion-col>
    <ion-col col-12 text-right *ngIf="discount != 1">
      折扣金额：<ion-note color="danger">-<ion-icon class="iconfont icon-rmb"></ion-icon>{{discountPrice.toFixed(2)}}</ion-note>
    </ion-col>
    <ion-col col-12 text-right margin-top>
      实付金额：<ion-note color="oranger" class="price"><ion-icon class="iconfont icon-rmb"></ion-icon>{{orderItem.actualPrice.toFixed(2)}}</ion-note>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer no-margin no-padding>
  <button (click)="submit()" full no-margin ion-button block color="oranger">提交订单</button>
</ion-footer>
